@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-container {
    background-color: rgba(0,0,0,0.75);
}

.custom-tabs-btn, .customInput {
    width: 48%;
}

.cabTicket-header,
.customBookingDetails-btn2:hover,
.customBookingDetails-btn,
.custom-book-btn,
#tabs > button.custom-active, #tabs > button:hover {
    background: #0646A2;
    color: #fff;
}

.cabTicket-m-s-h1,
.confirmBooking-h3,
.customBookingDetails-btn2{
    color: #0646A2;
}

.cabTicket-m-s-h1,
.customBookingDetails-btn2{
    border-color: #0646A2;
}


 

.customBookingDetails-Card {
    background-image: url("../../assets/confetti-doodles.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}